<table class="zebra-striped">
    <tr>
        <th></th>
        <th>Achievement</th>
        <th>Points</th>
    </tr>
    {{#achievements}}
        <tr id="{{_id}}">
            <td><a class="context-link" href=""><img width="50" height="50" class="achievement-image" src="/images/trophy.png"></a></td>
            <td><h2><span class="achievement-name"></span> <small><span class="achievement-description"></span></small></h2></td>
            <td><h3><span class="achievement-points"></span></h3></td>
        </tr>
    {{/achievements}}
</table>
