{{#achievements}}
    <div class="row">
        <div class="span3">
            <a href="#/Context/{{contextId}}"><img src="{{image}}"></a>
        </div>
        <div class="span5">
            <h2>{{name}} <small>{{description}}</small></h2>
        </div>
        <div class="span2">
            <h3>{{points}}</h3>
        </div>
    </div>
{{/achievements}}
