<div class="page-header">
    <h1>Create Context</h1>
</div>
<div class="row">
    <div class="span7">
        <form>
            <fieldset>
                <div class="clearfix">
                    <label for="name">Name</label>
                    <div class="input">
                        <input class="span7" id="name" name="name" size="30" type="text" />
                    </div>
                </div><!-- /clearfix -->
                <div class="clearfix">
                    <label for="url">URL</label>
                    <div class="input">
                        <input class="span7" id="url" name="url" size="30" type="text" />
                    </div>
                </div><!-- /clearfix -->
                <div class="clearfix">
                    <label for="description">Description</label>
                    <div class="input">
                        <textarea class="span7" id="description" name="description" rows="3"></textarea>
                    </div>
                </div><!-- /clearfix -->
                <div class="actions">
                    <input type="submit" class="btn primary button-create-context" value="Create">
                </div>
            </fieldset>
        </form>
    </div>
    <div class="extra span3">
        <h2>Create a Context</h2>
        <p>
            A context is something that has achievement classes associated with it.  For instance,
            you might create a context for a website or a game.  You can create multiple
            contexts.  So, if you have multiple websites or games, you should create multiple
            contexts to support them.
        </p>
    </div>
</div>
