<div class="page-header">
    <h1>LevelUp.io <small>An Open Achievements API</small></h1>
</div>
<div class="row">
    <div class="span10">
        <h2>What is LevelUp.io?</h2>
        <p>
            LevelUp.io is an open achievements API with a simple interface that lets users
            carry their achievements around the web.
        </p>
        <p>
            What <a href="http://gravatar.com">gravatar.com</a> does with avatars, LevelUp.io
            does with achievements.  Users are identified by a hash of their email address,
            and using that id, web sites (or games, or anything with an http connection) can
            give achievements!
        </p>
        <p>
            Similarly, websites (or what-have-you) can easily display a user's achievements,
            either for their own site or for any and all sites using a simple, open API.
            <a href="#/User/blah">Here</a> is an example, and <a href="#/User/blah2">here</a>
            is another.
        </p>
    </div>
    <div class="extra span4">
        <p>
            LevelUp.io lets you easily enable achievements on your website, game or
            anything with access to the web!
        </p>
    </div>
</div>
