<div class="page-header">
    <h1>Manage Contexts</h1>
</div>
<div class="row">
    <div class="span8">
        <table class="table table-bordered table-striped">
            <tr>
                <th>Context</th>
                <th>URL</th>
                <th>Description</th>
            </tr>
            {{#contexts}}
                <tr>
                    <td><a href="#/ManageContext/{{_id}}">{{name}}</a></td>
                    <td>{{url}}</td>
                    <td>{{description}}</td>
                </tr>
            {{/contexts}}
        </table>
        <div class="pull-right">
            <a href="#/CreateContext">Create New</a>
        </div>
    </div>
    <div class="span3 extra">
        Contexts are how you manage your different AchievementClasses.  You should
        create a context for each game, website, or what-have-you that you want to
        enable achievements for.
    </div>
</div>