<div class="page-header">
    <h1>Pricing</h1>
</div>
<div class="row">
    <div class="span3 plan-block">
        <h2>Free</h2>
        <h2><small>3 writes/second</small></h2>
        <p>
            This plan should work for most
            simple websites.
        </p>
        <h3>$0 <small>(Yeah, free!)</small></h3>
    </div>
    <div class="span3 plan-block">
        <h2>Basic</h2>
        <h2><small>10 writes/second</small></h2>
        <p>
            Have a popular blog?  This
            is the plan for you!
        </p>
        <h3>$10/month</h3>
    </div>
    <div class="span3 plan-block">
        <h2>Pro</h2>
        <h2><small>100 writes/second</small></h2>
        <p>
            Have a popular game?  Lots of
            players doing lots of things
            at once?  This is for you.
        </p>
        <h3>$100/month</h3>
    </div>
    <div class="span3 plan-block">
        <h2>Enterprise</h2>
        <h2><small>1000 writes/second</small></h2>
        <p>
            Are you a major media outlet or
            a huge hit game?  Contact us
            and we'll work out a rate.
        </p>
        <h3>Contact Us!</h3>
    </div>
</div>

