<div class="page-header">
    <h1>Sign Up <small>Claim your achievements!</small></h1>
</div>
<div class="row">
    <div class="span8">
        <form>
            <fieldset>
                <div class="clearfix">
                    <label for="email">Email</label>
                    <div class="input">
                        <input class="xlarge" id="email" name="email" size="30" type="text" />
                    </div>
                </div><!-- /clearfix -->
                <div class="clearfix">
                    <label for="password">Password</label>
                    <div class="input">
                        <input class="xlarge" id="password" name="password" size="30" type="password" />
                    </div>
                </div><!-- /clearfix -->
                <div class="actions">
                    <input type="submit" class="btn primary button-signup" value="Sign Up!">
                </div>
            </fieldset>
        </form>
    </div>
    <div class="extra span6">
        <h2>Get your achievements!</h2>
        <p>
            LevelUp.io lets you view and control the achievements you've gotten!
        </p>
        <p>
            You can also use your account to create an Organization and access the
            API!
        </p>
    </div>
</div>
